{% extends 'base.html' %}

{% block header %}
<h1>{% block title %} Set Retrofits {% endblock %}</h1>
{% endblock %}

{% block content %}
<h1 align="center">Set Retrofits for {{fleet.name}}</h1>

<form method="POST">

  Used Retrofits:
  {% for t in used %}
  {{t.name}},
  {% endfor %}
  <br>

  <label for="rec_techs">Additional Retrofits:</label>
  <select multiple name="rec_techs" id="rec_techs" class="form-control">
    {% for num in num_retros %}
    <option value={{num}}>{{retros[num].name}}
    </option>
    {% endfor %}
  </select>

  <!-- {% for a in num_assets %}
  <div align="center"><b>{{assets[a].getType().name}}:</b></div>
  {% for r1 in num_retros %}
  {% for r2 in num_retros %}
  {{retros[r1].name}} to {{retros[r2].name}}
  <input name="{{a}}_{{r1}}_{{r2}}" id="{{a}}_{{r1}}_{{r2}}" class="form-control" value="5"></input>
  {% endfor %}
  {% endfor %}
  {% endfor %} -->

  <div align="center">
    <button type="submit" class="btn btn-primary">Recommend</button>
  </div>
</form>
{% endblock %}