{% extends "base.html" %}

{% block title %}
Assets
{% endblock %}

{% block content%}
<h1 align="center">Assets</h1>

<ul class="list-group list-group-flush" id="assets">
  {% for asset in data %}
  <li class="list-group-item">
    <!-- <button type="button" class="btn btn-light" onClick="editAsset({{ asset.id }})">
      <span aria-hidden="true">{{ asset.name }}</span>
    </button> -->
    <form action="/assets/asset/{{ asset.id }}">
      <input type="submit" class="btn btn-light" value="{{ asset.name }}" />
    </form>
    <button type="button" class="close" onClick="deleteAsset({{ asset.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
  <form action="/assets/new-asset">
    <input type="submit" class="btn btn-primary" value="New Asset" />
  </form>
  <br>
  <form action="/assets/upload-assets">
    <input type="submit" class="btn btn-primary" value="Upload Assets" />
  </form>
</ul>


{% endblock %}