{% extends "base.html" %}

{% block title %}
{{ fleet.name }}
{% endblock %}

{% block content%}
<h1 align="center">{{ fleet.name }}</h1>

<ul class="list-group list-group-flush" id="fleets">
  Name: {{ fleet.name }}
  <br>
  Description: {{ fleet.description }}
  <br>
  Assets:
  <br>
  {% for i in num_assets %}
  {{fleet.getAssetsinFleet()[0][i].name}}, {{fleet.getAssetsinFleet()[0][i].getType().name}},
  {{fleet.getAssetsinFleet()[1][i].name}}, {{fleet.getAssetsinFleet()[2][i]}}
  <br>
  {% endfor %}

  <form action="/fleets/edit-fleet/{{ fleet.id }}">
    <input type="submit" class="btn btn-primary" value="Edit Fleet" />
  </form>
  <form action="/recommendations/rec-setup/{{ fleet.id }}">
    <input type="submit" class="btn btn-primary" value="New Recommendation" />
  </form>
</ul>

{% endblock %}