{% extends "base.html" %}

{% block title %}
Fleet
{% endblock %}

{% block content%}
<h1 align="center">Fleet</h1>

<ul class="list-group list-group-flush" id="fleets">
  Name: {{ fleet.name }}
  <br>
  Description: {{ fleet.description }}
  <br>
  Assets:
  <br>
  {% for a in fleet.getAssetsinFleet()[0] %}
  {{a.name}}
  {% endfor %}
  <br>
  {{fleet.getAssetsinFleet()[1]}}
  <br>
  {{fleet.getAssetsinFleet()[2]}}
  <form action="/fleets/edit-fleet/{{ fleet.id }}">
    <input type="submit" class="btn btn-primary" value="Edit Fleet" />
  </form>
  <form action="/recommendations/rec-setup/{{ fleet.id }}">
    <input type="submit" class="btn btn-primary" value="New Recommendation" />
  </form>
</ul>

{% endblock %}