{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}New Asset{% endblock %}</h1>
{% endblock %}

{% block content %}
<h1 align="center">New Asset</h1>

<form method="POST">
  Name:
  <textarea name="asset_name" id="asset_name" class="form-control"></textarea>
  Quantity:
  <textarea name="asset_quantity" id="asset_quantity" class="form-control"></textarea>
  Remaining Mileage:
  <textarea name="asset_mileage" id="asset_mileage" class="form-control"></textarea>
  Remaining Idle Time:
  <textarea name="asset_idle" id="asset_idle" class="form-control"></textarea>
  <label for="asset_category">Category:</label>
  <select name="asset_category" id="asset_category" class="form-control">
    {% for num in num_cats %}
    <option value={{num}}>{{cats[num].name}}</option>
    {% endfor %}
  </select>
  <label for="asset_tech">Technology:</label>
  <select name="asset_tech" id="asset_tech" class="form-control">
    {% for num in num_techs %}
    <option value={{num}}>{{techs[num].name}}</option>
    {% endfor %}
  </select>

  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Asset</button>
  </div>
</form>
{% endblock %}