{% extends "base.html" %}

{% block title %}
{{ asset.name }}
{% endblock %}

{% block content%}
<h1 align="center">{{ asset.name }}</h1>

<ul class="list-group list-group-flush" id="assets">
  Name: {{ asset.name }}
  <br>
  Type: {{ asset.getType().name }}
  <br>
  Category: {{asset.getCategory().name}}
  <br>
  Retrofit:
  {% for tech in asset.getTech()[0] %}
  {{tech.name}}
  {% endfor %}
  <br>
  Quantities:
  {% for num in asset.getTech()[1] %}
  {{num}}
  {% endfor %}
  <form action="/assets/edit-asset/{{ asset.id }}">
    <input type="submit" class="btn btn-primary" value="Edit Asset" />
  </form>
</ul>

{% endblock %}